.text-content {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  justify-content: center;
  padding: 300px;
  color: rgb(13, 39, 144);
  font-size: 40px;
  font-style: oblique;
}
.text {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: oblique;
  font-size: initial;
}
.text-colour{
  color: black;
}
.heading{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: oblique;
  font-size: initial;
  box-sizing: border-box;
  background-origin: padding-box;
}
.container{
  display: flex;
  justify-content: center
}